// Card color mixins
@mixin card-a-colors-light {
  background-color: #e8e8e8;
  border: 4px solid #c8c8c8;
}

@mixin card-b-colors-light {
  background-color: #fafafa;
  border: 1px solid #e5e7eb;
}

@mixin card-a-colors-dark {
  background-color: #1f2226;
  border: 4px solid #343434;
}

@mixin card-b-colors-dark {
  background-color: #2f3236;
  border: 1px solid #454545;
}

// Animations
@mixin profile-animation {
  @keyframes profile {
    0% {
      clip-path: polygon(5% 3%, 96% 3%, 97% 93%, 11% 96%);
    }
    25% {
      clip-path: polygon(9% 4%, 99% 1%, 95% 97%, 7% 93%);
    }
    75% {
      clip-path: polygon(5% 6%, 93% 2%, 94% 94%, 13% 96%);
    }
    100% {
      clip-path: polygon(5% 3%, 96% 3%, 97% 93%, 11% 96%);
    }
  }
}

@mixin front-animation {
  @keyframes front {
    0% {
      clip-path: polygon(3% 2%, 98% 2%, 95% 92%, 9% 92%);
    }
    25% {
      clip-path: polygon(5% 3%, 96% 1%, 97% 93%, 11% 96%);
    }
    75% {
      clip-path: polygon(9% 4%, 99% 1%, 95% 97%, 7% 93%);
    }
    100% {
      clip-path: polygon(3% 2%, 98% 2%, 95% 92%, 9% 92%);
    }
  }
}

@mixin back-animation {
  @keyframes back {
    0% {
      clip-path: polygon(7% 0, 100% 4%, 92% 93%, 7% 90%);
    }
    25% {
      clip-path: polygon(3% 2%, 98% 2%, 95% 92%, 9% 92%);
    }
    75% {
      clip-path: polygon(5% 3%, 96% 1%, 97% 93%, 11% 96%);
    }
    100% {
      clip-path: polygon(7% 0, 100% 4%, 92% 93%, 7% 90%);
    }
  }
}
