// Color Variables
:root {
    --link-color: var(--accent-color);

    --accent-color: #3a5c88;
    --accent-color-light: #397fd8;
    --accent-overlay-color: #397fd8;

    --color-info: #66b2ff;
    --color-success: #5dd77b;
    --color-warning-yellow: #ffdc75;
    --color-warning-orange: #ffab66;
    --color-error: #e68794;
    --color-info-alt: #70d1e0;
    --color-neutral: #a2abb3;
    --color-primary: #66b2ff;
    --color-secondary: #a2abb3;
    --color-subtitle: #666;

    --body-bg: #f5f5f5;
    --body-bg-rgb: 245, 245, 245;
    --body-color: #2c2c2c;
    --heading-color: #1a1a1a;
    --preview-divider-color: #e0e0e0;
    --table-bg-even: #f9f9f9;
    --table-border-bottom: #ddd;

    --search-input-bg: #fff;
    --search-bg-results: #fff;
    --search-input-color: #2c2c2c;
    --search-bg-selected-item: #fafafa;
    --search-category: #1a1a1a;
    --search-items-divider: #e8e8e8;
    --search-result-count: #666;
}

.theme-dark {
    --accent-color: deepskyblue;
    --accent-color-light: #fff;
    --accent-overlay-color: #66b2ff;

    --body-bg: #212529;
    --body-bg-rgb: 33, 37, 41;
    --body-color: #fff;
    --heading-color: #dee2e6;
    --preview-divider-color: #3c3c3c;
    --table-bg-even: #2d3237;
    --table-border-bottom: #697077;

    --color-subtitle: #d5dbed;

    --search-input-bg: #212529;
    --search-bg-selected-item: #262a2e;
    --search-bg-results: var(--body-bg);
    --search-input-color: #fff;
    --search-category: #fff;
    --search-items-divider: #363636;
    --search-result-count: #bcbcbc;
}

// Layout Variables
$max-width: 960px;
$max-content-width: 960px;
$footnote-space: 2rem;

// TOC Variables
$toc-width: 240px;
$toc-offset: 50px;
$toc-content-width: 700px; // narrower content for pages with TOC
$breakpoint-toc: 1200px;

// Breakpoints
$breakpoint-tablet: 880px;
$breakpoint-phone: 600px;
$breakpoint-small-phone: 465px;
$breakpoint-desktop: 1280px;
