.card {
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  padding: 24px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
  margin-bottom: 1rem;
}

.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

.cardHeader {
  text-align: start;
  
  h1 {
    font-size: 1.875rem;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 0;
  }
  
  small {
    opacity: 0.8;
    display: block;
    margin-top: 4px;
    font-size: 0.875rem;
  }
}


.cardContent {
  text-align: start;

  p {
    font-size: 2.25rem;
    font-weight: 500;
    color: #000;
    margin: 16px 0px;
  }

  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    font-size: 1rem;
    color: #374151;
    margin-bottom: 8px;
  }
}

.cardHr {
  opacity: 0.5;
  margin: 16px 0px;
}

button {
  background-color: #000;
  color: white;
  font-size: 1rem;
  padding: 12px 24px;
  border-radius: 8px;
  text-align: center;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #374151;
}
