@import "./theme.scss";

a img {
  border: none;
  vertical-align: top;
}

@media (max-width: 880px) {
  main {
    margin-top: unset;
  }
}

.homepage-left-column {
  margin-top: 1em;
  blockquote {
    margin-top: -0.9em;
  }
}

.homepage-right-column {
  margin-top: -1em;
}

.post-preview {
  border-bottom: 1px solid var(--preview-divider-color);
  display: block;
  padding: 12px;
  cursor: pointer;

  h3.post-title {
    margin-bottom: 0;
  }

  &:hover {
    background-color: var(--search-bg-selected-item);
  }

  img {
    width: 99%;
  }

  img[alt=blog-cover] {
    width: 50%;
    height: 160px;
    object-fit: cover; /* Crop the image to fit the bounds while keeping aspect ratio */
    float: left;
    margin-right: 20px;
    display: block; /* Ensures proper alignment */
  }

  .highlighted {
    h3 a {
      font-size: 1.1em;
    }
  }
  .summary {
    min-height: 200px;
  }
}

.found-a-typo {
  float: right;
}

.reading-post {
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  div > img:first-child {
    width: 50%;
  }

  p > img {
    width: 100%;
  }

  .book-pages {
    display: none;
  }

  .description {
    display: block;
    font-size: .7em;
    font-style: italic;
  }

  .author {
    color: var(--color-subtitle);
    font-size: 0.5em;
    display: block;
  }
}

.taxonomy-container {
  .reading-preview {
    margin: 8px;
    padding-left: 5px;

    width: 47%;
    height: 430px;
    word-wrap: break-word;

    overflow: hidden;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 0));
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 0));

    img {
      width: 100%;
      height: 150px;
      object-fit: cover;
      margin: 0 4px;
    }
  }
}

.reading-preview {
  border-bottom: 1px solid var(--preview-divider-color);
  display: inline-block;
  padding-bottom: 28px;
  margin-top: 6px;
  padding-left: 21px;
  cursor: pointer;

  &:hover {
    background-color: var(--search-bg-selected-item);
  }

  img {
    height: 250px;
    width: 180px;
    float: left;
    margin-right: 20px;
  }

  .author {
  }

  .reading-tags {
    display: none;

    &.reading-tags__long {
      display: inline;
      float: right;
      font-style: italic;
      list-style: none;
      margin-right: 0.6em;
      font-size: medium;
    }

    .reading-tag {
      display: inline;

      &:after {
        content: ", ";
      }

      &:last-child:after {
        content: "";
      }
    }
  }

  .reading-title {
    max-width: 200px;
    margin-bottom: 2px;
  }

  .reading-title__long {
    max-width: unset;
  }

  blockquote {
    border-left: unset;
  }
}

.book-preview {
  .book-title {
    margin-bottom: 0;
  }
}

iframe {
  width: 100%;
  height: 395px;
}

img[alt=book-index-cover] {
  max-width: 15%;
  float: left;
  margin-right: 20px;
  height: 100px;
}

img[alt=book-chapters-cover] {
  max-width: 22%;
  float: right;
  margin-left: 12px;
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                   supported by Chrome, Edge, Opera and Firefox */
}

@media (max-width: 700px) {
  img[alt=book-chapters-cover], img[alt=book-index-cover] {
    height: auto;
    max-width: 65%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    float: none;
  }
}

.post-title {
  small {
    line-height: unset;
  }

  .post-subtitle {
    margin-top: 0;
    color: var(--color-subtitle);
  }
}

.social-links {
  margin: .8em 0;
  width: 100%;

  li {
    flex-flow: row wrap;
    list-style: none;
  }
}

.latest-container {
  text-align: left !important;
  font-size: unset !important;
  margin: 1em 0;
}

h1 sup {
  top:-1.5em;
  font-size: small;
}

ul {
  margin: 0;
  padding-left: 14px;
}

blockquote {
  font-size: 1.25rem;
  margin-left: unset;
  p:before{
    content: '';
    font-style: normal;
  }
}

.desktop-homepage-nav-menu {
  display: none;
}

@media (min-width: 880px) {
  .desktop-homepage-nav-menu {
    margin-bottom: 30px;
    display: flex;
    font-size: 1.2em;
  }
}

$max-width: 700px;

#footer-page {
  text-align: center;
  font-size: 0.9em;
  border-top: lightgray solid 1px;
  max-width: $max-width;
  margin: 16px auto;
  padding-top: 28px;
}

#footer-about, #sponsor {
  font-size: 1.1rem;
  text-align: center;
  margin-bottom: 25px;

  .do-not-hesitate{
    margin: 28px 0;
  }
}

.banner-image-phone {
  display: none;
  margin: 18px 0;
  background-image: url("/banner.jpg");
  max-width: 100%;
  height: auto;
}

.phone-footer-about {
  display: block;
}

.desktop-footer-about {
  display: none;
}

@media (min-width: 465px) {
  .phone-footer-about {
    display: none;
  }
  .desktop-footer-about {
    display: block;
  }
}

@media (max-width: 880px) {
  .banner-image-phone {
    display: inline-block;
  }
}

.post-revisited-date {
  color: #1059b6;
  font-weight: bold;
}

.fa-linkedin-hover:hover {
  color: dodgerblue !important;
}

.fa-x-twitter-hover:hover {
  color: deepskyblue !important;
}

.fa-github-hover:hover {
  color: darkblue !important;
}

.fa-qrcode-hover:hover {
  color: purple !important;
}

.dark a i.dark-hover {
  color: var(--link-color) !important;
}

.fa-paypal-hover:hover {
  color: dodgerblue !important;
}

.fa-bitcoin-sign-hover:hover {
  color: orange !important;
}

.fa-btc-hover:hover {
  color: darkorange !important;
}

/* General styles for status divs */
.status {
  padding: 15px;
  color: white;
  margin-bottom: 10px;
  border-radius: 4px;
  font-family: Arial, sans-serif;
}

/* Specific styles for different statuses */
.info {
  background-color: var(--color-info);
}

.success {
  background-color: var(--color-success);
}

.warning-yellow {
  background-color: var(--color-warning-yellow);
  color: black; /* Black text for better readability on yellow */
}

.warning-orange {
  background-color: var(--color-warning-orange);
}

.error {
  background-color: var(--color-error);
}

.info-alt {
  background-color: var(--color-info-alt);
}

.neutral {
  background-color: var(--color-neutral);
  color: white; /* White text for better readability on gray */
}

.primary {
  background-color: var(--color-primary);
}

.secondary {
  background-color: var(--color-secondary);
}

.dark pre {
  background-color: #111 !important;
}

/****************************/

a.tooltip:hover {
  border-bottom: none;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip::after {
  content: attr(data-tooltip); /* Use the data-tooltip attribute for the content */
  position: absolute; /* Position it absolutely relative to .tooltip */
  background-color: var(--body-bg); /* Use CSS variable for background color */
  color: var(--body-color); /* Use CSS variable for text color */
  padding: 10px; /* Padding inside the box */
  border-radius: 3px; /* Rounded corners */
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3); /* Optional: Add a shadow for better visibility */
  opacity: 0; /* Initially hidden */
  transition: opacity 0.3s; /* Smooth transition for the appearance */
  white-space: nowrap; /* Prevents text from wrapping to multiple lines */
  overflow: hidden; /* Hides overflow text */
  text-overflow: ellipsis; /* Adds ellipsis (...) if text overflows */
  visibility: hidden; /* Hide tooltip by default */
  pointer-events: none; /* Prevent the tooltip from interfering with mouse events */
  width: auto; /* Allows width to adjust automatically based on content */
  max-width: 500px; /* Optional: Set a maximum width if needed */
  z-index: 99;
}

/* Tooltip positioning */
.tooltip[data-tooltip-pos="top"]::after {
  bottom: 100%; /* Position above the text */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%) translateY(-10px); /* Adjust positioning */
}

.tooltip[data-tooltip-pos="bottom"]::after {
  top: 100%; /* Position below the text */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%) translateY(10px); /* Adjust positioning */
}

.tooltip[data-tooltip-pos="right"]::after {
  left: 100%; /* Position to the right of the text */
  top: 50%; /* Vertically center */
  transform: translateX(10px) translateY(-50%); /* Adjust positioning */
}

.tooltip[data-tooltip-pos="left"]::after {
  right: 100%; /* Position to the left of the text */
  top: 50%; /* Vertically center */
  transform: translateX(-10px) translateY(-50%); /* Adjust positioning */
}

.tooltip:hover::after {
  opacity: 1; /* Show the box on hover */
  visibility: visible; /* Make the tooltip visible on hover */
}

@media (max-width: 1045px) {
  .tooltip::after {
    display: none;
  }
}

#scroll-to-top {
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 1000;
  border-radius: 9999px;
  border: 3px solid var(--body-color);
  width: 30px;
  height: 30px;
  display: grid;
  place-items: center;
  cursor: pointer;
  background-color: var(--body-bg);

  &.hidden {
    transform: translateY(150%);
    transition: transform 0.5s ease-out;
  }
  &.show {
    transform: translateY(0);
    transition: transform 0.5s ease-in;
  }

  @media (min-width: 880px) {
    right: calc((100vw - 850px) / 2); /* Keep button closes to the <main> tag */
  }
}

.only-desktop-visible, .only-phone-visible {
  display: none;
}

/* Desktop Visibility */
@media (min-width: 880px) {
  .only-desktop-visible {
    display: block !important; /* Or flex/inline-block as needed */
  }
}

/* Phone Visibility */
@media (max-width: 880px) {
  .only-phone-visible {
    display: block !important; /* Or flex/inline-block as needed */
  }
}
