.post-preview {
  display: block;
  min-height: 300px;

  .highlighted {
    h3 a {
      font-size: 1.1em;
    }
  }

  img[alt=blog-cover] {
    max-width: 50%;
    float: left;
    margin-right: 20px;
  }
}

.found-a-typo {
  float: right;
}

.reading-post {
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  div > img:first-child {
    width: 50%;
  }

  p > img {
    width: 100%;
  }

  .book-pages {
    display: none;
  }

  .description {
    display: block;
    font-size: .7em;
    font-style: italic;
  }

  .author {
    color: #404040;
    font-size: 0.5em;
    display: block;
    &::before {
      content: 'by ';
    }
  }
}

.taxonomy-container {
  .reading-preview {
    padding-bottom: 8px;
    padding-left: 5px;
    border-bottom: 1px gray solid;

    overflow: hidden;
    width: 45%;
    float: left;
    height: 430px;
    word-wrap: break-word;

    .reading-title {
      max-width: unset;
    }

    img {
      margin: 0 2px;
      height: auto;
      max-height: 245px;
      width: auto;
    }
  }
}

.reading-preview {
  border-bottom: 1px solid gray;
  display: inline-block;
  padding: 8px;

  img {
    height: 250px;
    width: 180px;
    float: left;
    margin-right: 20px;
  }

  .author {
  }

  .reading-tags {
    display: none;

    &.reading-tags__long {
      font-size: 1em;
      display: inline;
      float: right;
      font-style: italic;
      list-style: none;
    }

    .reading-tag {
      display: inline;

      &:after {
        content: ", ";
      }

      &:last-child:after {
        content: "";
      }
    }
  }

  .reading-title {
    max-width: 200px;
    margin-bottom: 2px;
  }

  .reading-title__long {
    max-width: unset;
  }

  blockquote {
    border-left: unset;
  }
}

.book-preview {
  .book-title {
    margin-bottom: 0;
  }
}

iframe {
  width: 100%;
  height: 395px;
}

img[alt=book-index-cover] {
  max-width: 15%;
  float: left;
  margin-right: 20px;
  height: 100px;
}

img[alt=book-chapters-cover] {
  max-width: 22%;
  float: right;
  margin-left: 12px;
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                   supported by Chrome, Edge, Opera and Firefox */
}

@media (max-width: 700px) {
  img[alt=book-chapters-cover], img[alt=book-index-cover] {
    height: auto;
    max-width: 65%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    float: none;
  }
}

.post-title {
  small {
    line-height: unset;
  }

  .post-subtitle {
    margin-top: 0;
    color: #404040;
  }
}

.social-links {
  margin-bottom: 16px;
  width: 100%;

  li {
    flex-flow: row wrap;
    list-style: none;
  }
}

.latest-container {
  text-align: left !important;
  font-size: unset !important;
}

h1 sup {
  top:-1.5em;
  font-size: small;
}

a:hover {
  color: #1059b6;
}

ul {
  margin: 0;
  padding-left: 14px;
}

blockquote {
  font-size: 1.25rem;
  margin-left: unset;
  p:before{
    content: '';
    font-style: normal;
  }
}

.desktop-homepage-nav-menu {
  display: none;
}

@media (min-width: 880px) {
  .desktop-homepage-nav-menu {
    margin-bottom: 30px;
    display: flex;
    font-size: 1.2em;
  }
}

$max-width: 700px;

#footer-page {
  text-align: center;
  font-size: 0.9em;
  border-top: lightgray solid 1px;
  max-width: $max-width;
  margin: 16px auto;
  padding-top: 12px;
}

#footer-about {
  font-size: 1.1rem;
  text-align: center;
}

.phone-footer-about {
  display: block;
}

.desktop-footer-about {
  display: none;
}

@media (min-width: 465px) {
  .phone-footer-about {
    display: none;
  }
  .desktop-footer-about {
    display: block;
  }
}

@media (min-width: 880px) {
  .desktop-homepage-nav-menu {
    margin-bottom: 30px;
    display: flex;
    font-size: 1.2em;
  }
}

.banner-image-phone {
  display: none;
  margin: 18px 0;
  background-image: url("/banner.jpg");
  max-width: 100%;
  height: auto;
}

@media (max-width: 880px) {
  .banner-image-phone {
    display: inline-block;
  }
}

.post-revisited-date {
  color: #1059b6;
  font-weight: bold;
}