#frontpage {
  .search-container {
    display: inline-block;
    width: 60%;
  }
  .search-results {
    max-width: 550px;
    max-height: 560px;
    right: unset;
    margin-left: -5px;
  }

  @media (max-width: 880px) {
    margin-top: 17px;

    .search-container {
      width: 100%;
      margin: 20px 0;
    }
    .search-results {
      max-width: calc(100vw - 30px);
      padding: .5rem;
    }
  }

  @media (max-width: 600px) {
    padding: 10px 0;

    input {
      margin-top: 8px;
      margin-left: 0;
      width: calc(100vw - 30px);
    }

    .search-results {
      max-width: calc(100vw - 80px);
      padding: 10px 15px;
    }
  }
}

.search-container {
  display: inline-block;
  position: relative;

  input[type="search"] {
    width: 100%;
    padding: .8rem 1rem;
    font-size: 16px;
    color: var(--search-input-color) !important;
    border: 1px solid #ccc;
    border-radius: 15px;
    outline: none;
    transition: all 0.3s ease;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    background-color: #fff;

    &:focus {
      border-color: var(--color-primary);
      box-shadow: 0 4px 8px rgba(0, 123, 255, 0.2);
      background-color: #fff;
    }

    &::placeholder {
      color: #aaa;
      font-style: italic;
    }
  }

  @media (max-width: 600px) {
    input {
      width: 330px;
    }

    .search-results {
      max-width: calc(100vw - 125px);
      padding: 10px 15px;
    }
  }

  @media (max-width: 403px) {
    input {
      width: 330px;
    }
  }

  .result-count {
    position: absolute;
    right: 10px;
    top: 82%;
    transform: translateY(-50%);
    color: #555;
    font-size: 12px;
    pointer-events: none; /* Prevent interactions with the number */
  }
}

.search-results {
  display: none;
  position: absolute;
  background: var(--search-bg-results);
  color: var(--search-input-color);
  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.5);
  max-height: 560px;
  overflow: auto;
  width: 400px;
  right: 0;

  &__items {
    list-style: none;
  }

  li.selected, li:hover {
    text-decoration: unset;
    background-color: var(--search-bg-selected-item);
  }

  li {
    font-size: 0.9rem;
    a:hover {
      border-bottom: unset;
    }
    &:first-of-type {
      margin-top: 10px;
    }

    &:has(.search-results__item.empty) {
      border-bottom: none;
      color: var(--accent-color);
      &:hover {
        text-decoration: unset;
        background-color: unset;
        padding: unset;
      }
    }

    &:has(.search-results__item.category) {
      color: var(--search-category);
      font-weight: bold;
      margin-top: 10px;
      cursor: unset;
      user-select: none;
    }
  }

  &__item {
    padding: 8px 15px;
    &:not(:has(.category)) {
      border-bottom: 1px solid var(--search-items-divider);
    }
  }

  &__item-title {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    margin-bottom: 8px;
  }

  &__item-body {
    color: var(--body-color) !important;
  }

  .search-results__item-title.category {
    display: flex;
    align-items: center;
    svg {
      margin-right: 8px;
    }
  }
}

header.hidden {
  transform: translateY(-100%);
  transition: transform 0.5s ease-out;
}

header.show {
  transform: translateY(0);
  transition: transform 0.5s ease-in;
}
