#snow {
  width: 100%;
}

.snowflake {
  position: absolute;
  width: 8px;
  height: 8px;
  background: linear-gradient(#eee, #ececec);
  border-radius: 50%;
  filter: drop-shadow(0 0 10px #c5c5c5);
}

:root:has(body.dark) {
  .snowflake {
    background: linear-gradient(#eee, #ececec);
    filter: drop-shadow(0 0 10px #c5c5c5);
  }
}
:root:has(body.light) {
  .snowflake {
    background: linear-gradient(#7e99f3, #4465ed);
    filter: drop-shadow(0 0 10px #0e40e1);
  }
}
