#snow {
  width: 100%;
}

#toggle-snow {
  cursor: pointer;
}

.snowflake {
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: linear-gradient(#7e99f3, #4465ed);
  filter: drop-shadow(0 0 10px #0e40e1);
}

.theme-dark {
  .snowflake {
    background: linear-gradient(#eee, #ececec);
    filter: drop-shadow(0 0 10px #c5c5c5);
  }
}
