:root:has(body.light) {
    --accent-overlay-color: #fff;
    --body-bg: #fff;
    --body-color: #000;
    --heading-color: #000;
    --table-bg-even: #f3f3f3;
    --table-border-bottom: #dddddd;
    --muted-text: #404040;

    small {
        color: var(--muted-text);
    }
}

:root:has(body.dark) {
    --accent-overlay-color: #dee2e6;
    --body-bg: #212529;
    --body-color: #abb2bf;
    --heading-color: #dee2e6;
    --table-bg-even: #2d3237;
    --table-border-bottom: #697077;
    --muted-text: #999999;

    img {
        opacity: 1;
        transition: opacity .5s ease-in-out;
    }

    img:hover {
        opacity: .75;
    }

    small {
        color: var(--muted-text);
    }
}