:root {
    --link-color: var(--accent-color);

    --accent-color: #3a5c88;
    --accent-color-light: #397fd8;
    --accent-overlay-color: #397fd8;

    --color-info: #66b2ff; /* Lighter Light Blue */
    --color-success: #5dd77b; /* Lighter Green */
    --color-warning-yellow: #ffdc75; /* Lighter Yellow */
    --color-warning-orange: #ffab66; /* Lighter Orange */
    --color-error: #e68794; /* Lighter Red */
    --color-info-alt: #70d1e0; /* Lighter Cyan */
    --color-neutral: #a2abb3; /* Lighter Gray */
    --color-primary: #66b2ff; /* Lighter Blue */
    --color-secondary: #a2abb3; /* Lighter Dark Gray */
    --color-subtitle: #404040;

    --body-bg: #fff;
    --body-bg-rgb: 255, 255, 255;
    --body-color: #000;
    --heading-color: #000;
    --preview-divider: #ddd;
    --table-bg-even: #f3f3f3;
    --table-border-bottom: #ddd;

    --search-input-bg: #fff;
    --search-bg-results: #fff;
    --search-input-color: #000;
    --search-bg-selected-item: #e6e6e6;
    --search-category: #000;
    --search-items-divider: #e8e8e8;
    --search-result-count: #555;
}

.theme-dark {
    --accent-color: deepskyblue;
    --accent-color-light: #fff;
    --accent-overlay-color: #66b2ff;

    --body-bg: #212529;
    --body-bg-rgb: 33, 37, 41;
    --body-color: #fff;
    --heading-color: #dee2e6;
    --preview-divider: #bababa;
    --table-bg-even: #2d3237;
    --table-border-bottom: #697077;

    --color-subtitle: #d5dbed;

    --search-input-bg: #212529;
    --search-bg-selected-item: #3c3c3c;
    --search-bg-results: var(--body-bg);
    --search-input-color: #fff;
    --search-category: #fff;
    --search-items-divider: #363636;
    --search-result-count: #bcbcbc;
}
