:root {
    --accent-color: #3a5c88;
    --accent-color-light: #397fd8;
    --accent-overlay-color: #fff;
    --body-bg: #fff;
    --body-color: #000;
    --heading-color: #000;
    --table-bg-even: #f3f3f3;
    --table-border-bottom: #dddddd;
}