<section class="newsletter" id="newsletter">
  <h2 class="newsletter__title">{{ trans(key="newsletter_title", lang=lang) }}</h2>
  <p class="newsletter__description">{{ trans(key="newsletter_description", lang=lang) }}</p>
  <div class="newsletter__actions">
    <a href="mailto:subscribe@chemaclass.com?subject={{ trans(key='newsletter_mail_subject', lang=lang) }}" class="newsletter__button">
      <i class="fa-solid fa-envelope"></i>
      {{ trans(key="newsletter_button", lang=lang) }}
    </a>
    <a href="mailto:unsubscribe@chemaclass.com?subject={{ trans(key='newsletter_unsubscribe_subject', lang=lang) }}" class="newsletter__unsubscribe">
      {{ trans(key="newsletter_unsubscribe", lang=lang) }}
    </a>
  </div>
</section>
