{% extends "base.html" %}

{% import "partials/helpers-preview.html" as helpers %}

{% block title %}
  {{ trans(key="readings_title", lang=lang) }} | Chemaclass
{% endblock %}

{% block posthead %}
  {% for post in section.pages %}
    <link rel="prerender" href="{{ post.permalink }}" />
  {% endfor %}
{% endblock posthead %}

{% block content %}
  <div class="readings-index">
    <div class="readings-header">
      <h1>{{ trans(key="readings_title", lang=lang) }}</h1>
      <p class="readings-intro">{{ trans(key="readings_intro", lang=lang) }}</p>
    </div>

  {% set pinned_posts = section.pages | filter(attribute="extra.pin", value=true) %}

  <div class="blog-list">
    {% for post in pinned_posts %}
      {{ helpers::content_card(post=post, pinned=true, lang=lang) }}
    {% endfor %}

    {% for post in section.pages %}
      {% if post not in pinned_posts %}
        {{ helpers::content_card(post=post, lang=lang) }}
      {% endif %}
    {% endfor %}
  </div>
  </div>

  {% include "partials/footer-about.html" %}
{% endblock content %}

