{% extends "blog/blog-post.html" %}

{% block content %}
<div class="reading-post">
  <div class="post-title">
    <h1>
      {{ page.title }}
      {% if page.description %}
        <small class="description">
          {{ page.description }}
        </small>
      {% endif %}
      {% if page.extra.author %}
        <small class="author">
          {{ page.extra.author }}
        </small>
      {% endif %}
    </h1>
    {{ self::page_sub_header(page=page) }}
  </div>

  <div>
    {{ page.content | safe }}

    {% if page.extra.pages %}
    <div class="book-pages">
      {{ page.extra.pages }} pages
    </div>
    {% endif %}

    {% if page.extra.current_reading %}
      <div class="reading-current">Reading currently...</div>
    {% endif %}
  </div>

  <hr class="footer-rule" />

  {% if config.extra.footer_about %}
    <div class="footer-about">
      {{ config.extra.footer_about | markdown | safe }}
    </div>
  {% endif %}

  <div class="related-container">

    {% if page.earlier %}
      <div class="link">
        Previous <br />
        <a href="{{ page.earlier.permalink }}">{{ page.earlier.title }}</a>
      </div>
    {% endif %}

    {% if page.later %}
      <div class="link">
        Next <br />
        <a href="{{ page.later.permalink }}">{{ page.later.title }}</a>
      </div>
    {% endif %}

  </div>
</div>
{% endblock content %}
