{% extends "blog/blog-post.html" %}

{% block content %}
<div class="reading-post">
  <div class="post-title">
    <h1>
      {{ page.title }}
      {% if page.extra.author %}
        <small class="author">by {{ page.extra.author }}</small>
      {% endif %}
    </h1>
    {% if page.extra.subtitle %}
    <h3 class="post-subtitle">
      {{ page.extra.subtitle }}
    </h3>
    {% endif %}
    {{ self::page_sub_header(page=page) }}
  </div>

  <div>
    {{ page.content | safe }}

    {% if page.extra.pages %}
    <div class="book-pages">
      {{ page.extra.pages }} pages
    </div>
    {% endif %}

    {% if page.extra.current_read %}
      <div class="reading-current">Reading currently...</div>
    {% endif %}
  </div>

  <hr class="footer-rule" />

  {{ related::container(page=page,orderDesc=true) }}

  {% include "footer-about.html" %}

</div>
{% endblock content %}
