{% extends "blog/blog-post.html" %}

{% block content %}
  <div class="post-title">
    <h1>
      {{ page.title }}
      {% if page.extra.author %}
        <br>
        <small style="margin-top: 0; color: #404040; font-size: 0.6em;">
          {{ page.extra.author }}
        </small>
      {% endif %}
    </h1>
    {{ self::page_sub_header(page=page) }}
  </div>

  <div>
    {{ page.content | safe }}

    {% if page.extra.pages %}
    <div>
      {{ page.extra.pages }} pages
    </div>
    {% endif %}

    {% if page.extra.recommended %}
      <div>
        Recommended: {{ page.extra.recommended }}
      </div>
    {% endif %}
  </div>

  <hr class="footer-rule" />

  <div class="related-container">

    {% if page.earlier %}
      <div class="link">
        Previous <br />
        <a href="{{ page.earlier.permalink }}">{{ page.earlier.title }}</a>
      </div>
    {% endif %}

    {% if page.later %}
      <div class="link">
        Next <br />
        <a href="{{ page.later.permalink }}">{{ page.later.title }}</a>
      </div>
    {% endif %}

  </div>

{% endblock content %}
