{% extends "base.html" %}

{% block content %}
<div id="sponsor">
    <h2>How can you sponsor me?</h2>

    <h3>Get in touch</h3>
    <div class="phone-footer-about">
        <ul class="list-group">
            <a href="https://www.linkedin.com/in/jose-maria-valera-reales/" title="LinkedIn">
                <li class="list-group-item">
                    <i class="fab fa-linkedin"></i> LinkedIn
                </li>
            </a>
            <a target="_blank" href="https://twitter.com/Chemaclass" title="Twitter">
                <li class="list-group-item">
                    <i class="fa fa-brands fa-twitter"></i> Twitter
                </li>
            </a>
            <a target="_blank"
               href="https://snort.social/p/npub1ch2gzhpxux8zc9upxvqy5mwm4x5k5hm6772682mqd5g65yz4z34qg4sxwx"
               title="Notes and Other Stuff Transmitted by Relays">
                <li class="list-group-item">
                    <i class="fa fa-stream"></i> Nostr
                </li>
            </a>
        </ul>

        <h3>Leave a tip</h3>
        <ul class="list-group">
            <a target="_blank" href="https://www.paypal.com/paypalme/chemaclass" title="PayPal">
                <li class="list-group-item">
                    <i class="fa fa-brands fa-paypal"></i> PayPal
                </li>
            </a>
            <a target="_blank" href="https://getalby.com/p/chemaclass" title="Bitcoin Lightning Network">
                <li class="list-group-item">
                    <i class="fa fa-bolt"></i> Lightning
                </li>
            </a>
            <a target="_blank" href="https://ud.me/chemaclass.wallet"
               title="Bitcoin and other cryptocurrencies">
                <li class="list-group-item">
                    <i class="fa fa-btc"></i> On chain
                </li>
            </a>
        </ul>
    </div>

    <div class="desktop-footer-about">
        <table>
            <tr>
                <td>
                    <a href="https://www.linkedin.com/in/jose-maria-valera-reales/" title="LinkedIn">
                        <i class="fa fa-linkedin"></i> LinkedIn
                    </a>
                </td>
                <td>
                    <a target="_blank" href="https://twitter.com/Chemaclass" title="Twitter">
                        <i class="fa fa-twitter"></i> Twitter
                    </a>
                </td>
                <td>
                    <a target="_blank"
                       href="https://snort.social/p/npub1ch2gzhpxux8zc9upxvqy5mwm4x5k5hm6772682mqd5g65yz4z34qg4sxwx"
                       title="Notes and Other Stuff Transmitted by Relays"><i class="fa fa-stream"></i> Nostr
                    </a>
                </td>
            </tr>
        </table>

        <h3>Leave a tip</h3>
        <table>
            <tr>
                <td>
                    <a target="_blank" href="https://www.paypal.com/paypalme/chemaclass" title="PayPal">
                        <i class="fa fa-paypal"></i> PayPal
                    </a>
                </td>
                <td>
                    <a target="_blank" href="https://getalby.com/p/chemaclass" title="Bitcoin Lightning Network">
                        <i class="fa fa-bolt"></i> Lightning
                    </a>
                </td>
                <td>
                    <a target="_blank" href="https://ud.me/chemaclass.wallet"
                       title="Bitcoin and other cryptocurrencies">
                        <i class="fa fa-btc"></i> On chain
                    </a>
                </td>
            </tr>
        </table>
    </div>

    <div class="do-not-hesitate">
        <span class="fa-stack fa-xs">
          <i class="fa fa-square fa-stack-2x"></i>
          <i class="fa fa-terminal fa-stack-1x fa-inverse"></i>
        </span>
        Don't hesitate to ping me, anytime!
        <i class="fa fa-cog fa-spin fa-1x fa-fw"></i>
    </div>
</div>
{% endblock content %}
