{% extends "base.html" %} {% block content %}
<div id="sponsor">
  <div>
    <main>
      <h1>Become a Sponsor</h1>

      <section id="section-reasons-sponsor">
        <h2 class="sponsor-title">Why Become a Sponsor?</h2>
        <div class="sponsor-features">
          <div class="sponsor-feature">
            <h1>💓</h1>
            <h3 class="feature-title">Support Open Source</h3>
            <p>
              Help maintain projects like
              <a target="_blank" href="https://bashunit.typeddevs.com/">bashunit</a>,
              <a target="_blank" href="https://phel-lang.org/">phel</a>
              and <a target="_blank" href="https://gacela-project.com/">gacela</a>.
            </p>
          </div>
          <div class="sponsor-feature">
            <h1>⚡</h1>
            <h3 class="feature-title">Amplify Impact</h3>
            <p>
              Your support drives the growth of developer tools and the OS community.
            </p>
          </div>
          <div class="sponsor-feature">
            <h1>⭐</h1>
            <h3 class="feature-title">Direct Access and Insights</h3>
            <p>
              Unlock a unique view into my projects and join their evolving journey.
            </p>
          </div>
        </div>
      </section>

      <hr class="common-hr">
      
      <section>
        <div>
          <p> Choose a sponsorship tier that reflects your level of support. </p>
          <h2>
            Sponsorship Tiers
          </h2>
          <div>
            <div class= "card">
              <div class= "card-header">
                <h1>⭐ Silver Sponsor</h1>
                <small>
                  Perfect for single contributors and anyone who loves open-source.
                </small>
              </div>
              <hr class="card-hr">
              <div class= "card-content">
                <p>$2/month</p>
                <ul>
                  <li> ⭕ Get a Sponsor badge on your GitHub profile.</li>
                  <li> ⭕ The satisfaction of knowing you're helping keep open-source thriving.</li>
                </ul>
              </div>
            </div>

            <div class="card">
              <div class="card-header">
                <h1>⚡ Gold Sponsor</h1>
                <small>
                  For the slightly more generous folks who want to contribute a bit more.
                </small>
              </div>
              <hr class="card-hr">
              <div class="card-content">
                <p>$4/month</p>
                <ul>
                  <li> ⭕ A mention in my sponsors page 😊 </li>
                  <li> ⭕ No flashy logos or merchandise, but you'll definitely have a spot in my heart! </li>
                </ul>
              </div>
            </div>
            <div class="card">
              <div class="card-header">
                <h1>🏆 Platinum Sponsor</h1>
                <small>
                  For the truly heroic souls who believe in open-source greatness.
                </small>
              </div>
              <hr class="card-hr">
              <div class="card-content">
                <p>$12/month</p>
                <ul>
                  <li> ⭕ A mention in my sponsors page ⭐️ </li>
                  <li> ⭕ No free goodies, no stickers. Just the warm, fuzzy feeling of helping an open-source dev sleep a bit better at night. </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>

<!--      <section id="section-current-sponsors">-->
<!--        <h2>-->
<!--          Current Sponsors-->
<!--        </h2>-->
<!--        <div>-->
<!--          ⭐ Jesus Valera Reales-->
<!--        </div>-->
<!--      </section>-->

      <section id="section-contribution">
        <!-- Recurring Support Section -->
        <div class="contribution">
          <h2 class="contribution-title">
            <i class="fa-solid fa-arrows-rotate"></i>&nbsp;&nbsp; Recurring Support
          </h2>
          <p class="contribution-subtitle">
            Choose a sponsorship tier for ongoing support and maximum benefits.
          </p>
          <p class="contribution-description">
            Recurring sponsorship helps me continue contributing voluntarily to the projects I'm passionate about.
          </p>
          <div class="donation-options">
            <a
              class="btn-donate github"
              target="_blank"
              href="https://github.com/sponsors/Chemaclass"
              title="GitHub"
            >
              <i class="fa fa-github"></i> Sponsor on GitHub
            </a>
          </div>
        </div>
      
        <!-- One-Time Contribution Section -->
        <div class="contribution">
          <h2 class="contribution-title">
            <i class="fa fa-money-bill"></i>&nbsp;&nbsp; One-Time Contribution
          </h2>
          <p class="contribution-subtitle">
            Make a single contribution to support this project.
          </p>
          <p class="contribution-description">
            If you prefer to make a one-time donation, you can do so as well:
          </p>
          <div class="donation-options">
            <a
              class="btn-donate paypal"
              target="_blank"
              href="https://www.paypal.com/paypalme/chemaclass"
              title="PayPal"
            >
              <i class="fa fa-paypal"></i> PayPal
            </a>
            <a
              class="btn-donate github"
              target="_blank"
              href="https://github.com/sponsors/Chemaclass?frequency=one-time"
              title="GitHub"
            >
              <i class="fa fa-github"></i> GitHub
            </a>
            <a
              class="btn-donate lightning"
              target="_blank"
              href="https://getalby.com/p/chemaclass"
              title="Bitcoin Lightning Network"
            >
              <i class="fa-solid fa-bolt"></i> Lightning
            </a>
          </div>
        </div>
      </section>

    </main>
  </div>
</div>
{% endblock content %}
