{% extends "base.html" %}

{% block content %}
<div id="tips">
    <h3>Follow me </h3>

    <table>
        <tr>
            <td>
                <a href="https://www.linkedin.com/in/jose-maria-valera-reales/">
                    <i class="fab fa-linkedin"></i> LinkedIn</a>
            </td>
            <td>
                <a target="_blank" href="https://twitter.com/Chemaclass" title="Twitter">
                    <i class="fa fa-brands fa-twitter"></i> Twitter</a>
            </td>
            <td>
                <a target="_blank"
                   href="https://snort.social/p/npub1ch2gzhpxux8zc9upxvqy5mwm4x5k5hm6772682mqd5g65yz4z34qg4sxwx"
                   title="Nostr"><i class="fa fa-stream"></i> Nostr</a>
            </td>
        </tr>
    </table>

    <h3>Leave a tip</h3>
    <table>
        <tr>
            <td>
                <a target="_blank" href="https://www.paypal.com/paypalme/chemaclass" title="PayPal">
                    <i class="fa fa-brands fa-paypal"></i> PayPal</a>
            </td>
            <td>
                <a target="_blank" href="https://getalby.com/p/chemaclass" title="Bitcoin Lightning Network">
                    <i class="fa fa-bolt"></i> Lightning</a>
            </td>
            <td>
                <a target="_blank" href="https://ud.me/chemaclass.wallet" title="Bitcoin and other cryptocurrencies">
                    <i class="fa fa-btc"></i> On chain</a>
            </td>
        </tr>
    </table>
</div>
{% endblock content %}
