// Social icon hover effects
.fa-linkedin-hover:hover {
  color: dodgerblue !important;
}

.fa-x-twitter-hover:hover {
  color: deepskyblue !important;
}

.fa-github-hover:hover {
  color: darkblue !important;
}

.fa-qrcode-hover:hover {
  color: purple !important;
}

.dark a i.dark-hover {
  color: var(--link-color) !important;
}

.fa-paypal-hover:hover {
  color: dodgerblue !important;
}

.fa-bitcoin-sign-hover:hover {
  color: orange !important;
}

.fa-btc-hover:hover {
  color: darkorange !important;
}
