// General styles for status divs
.status {
  padding: 15px;
  color: white;
  margin-bottom: 10px;
  border-radius: 4px;
  font-family: Arial, sans-serif;
}

// Specific styles for different statuses
.info {
  background-color: var(--color-info);
}

.success {
  background-color: var(--color-success);
}

.warning-yellow {
  background-color: var(--color-warning-yellow);
  color: black;
}

.warning-orange {
  background-color: var(--color-warning-orange);
}

.error {
  background-color: var(--color-error);
}

.info-alt {
  background-color: var(--color-info-alt);
}

.neutral {
  background-color: var(--color-neutral);
  color: white;
}

.primary {
  background-color: var(--color-primary);
}

.secondary {
  background-color: var(--color-secondary);
}
