table {
  border-collapse: collapse;
  margin: 25px auto;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

thead tr {
  background-color: var(--accent-color);
  color: var(--accent-overlay-color);
  text-align: left;
}

table th,
table td {
  padding: 10px 12px;
}

table tbody tr {
  border-bottom: 1px solid var(--table-border-bottom);
}

table tbody tr:nth-of-type(even) {
  background-color: var(--table-bg-even);
}

table tbody tr:last-of-type {
  border-bottom: 2px solid var(--accent-color);
}
