{% extends "base.html" %}

{% block title %}
  Home | Chemaclass
{% endblock %}

{% block styles%}
  <link rel="stylesheet" href="{{ get_url(path="index.css") | safe }}">
  <link rel="stylesheet" href="{{ get_url(path="custom.css") | safe }}">
{% endblock styles %}

{% block posthead %}
  {% set profile_image = resize_image(path=config.extra.profile_large, width=280, height=373, op="fill") %}
  <link rel="prefetch" href="{{ profile_image.url }}">
{% endblock posthead %}

{% block content %}
<div>
  <nav class="nav-menu desktop-homepage-nav-menu">
    {% for link in config.extra.nav %}
    <a href="{{ link.path }}">{{ link.name }}</a>
    {% endfor %}
  </nav>
  <div class="profile">
    <div class="profile-container">
      <img src="{{ profile_image.url }}" alt="profile picture"/>
    </div>
  </div>
</div>

<div id="frontpage">
  <h1 class="index-header">
    Chemaclass
  </h1>

  {% set banner_image_phone = resize_image(path="banner.jpg", height=300, width=800, op="fit_width") %}
  <img class="banner-image-phone" src="{{ banner_image_phone.url }}" alt="banner picture"/>

  <h3>Who am I?</h3>
  <ul>
    <li title="The most inspiring and personal fashion online shop in Europe">Tech Lead at <a target="_blank" href="https://aboutyou.com/">About You</a></li>
    <li title="A Functional Programming language that transpiles to PHP">Contributor in <a target="_blank" href="https://phel-lang.org">Phel Lang</a></li>
    <li title="A library that helps you build modular PHP applications">Creator of <a target="_blank" href="https://gacela-project.com/">Gacela Project</a></li>
  </ul>
  <p title="Extreme Programming Values">
    I love software development focus on communication, simplicity, feedback, courage, and respect.
  </p>
  <p>
    I believe that <span title="A Handbook of Agile Software Craftsmanship">clean code</span>,
    <span title="Test-First & TDD">testing</span>, and refactoring are the best tools for every developer to achieve
    <a href="/blog/the-art-of-testing/">quality</a>.
  </p>
  <table class="social-links">
    <tr>
      <td>
        <i class="fa fa-github"></i>
        <a target="_blank" href="https://github.com/Chemaclass">GitHub</a>
      </td>
      <td>
        <i class="fa fa-linkedin"></i>
        <a target="_blank" href="https://www.linkedin.com/in/jose-maria-valera-reales/">LinkedIn</a>
      </td>
    </tr>
    <tr>
      <td>
        <i class="fa fa-twitter"></i>
        <a target="_blank" href="https://twitter.com/Chemaclass">Twitter</a>
      </td>
      <td title="Notes and Other Stuff Transmitted by Relays">
        <i class="fa fa-stream"></i>
        <a target="_blank" href="https://snort.social/p/npub1ch2gzhpxux8zc9upxvqy5mwm4x5k5hm6772682mqd5g65yz4z34qg4sxwx">Nostr</a>
      </td>
    </tr>
  </table>

  <div class="latest-container">
    Latest <b>post</b>:
    {% set blogs = get_section(path="blog" ~ "/_index.md") %}
    {% set latest_blog = blogs.pages.0 %}
    <a href="{{ latest_blog.permalink }}"
       data-from="{{latest_blog.date}}"
       title="{{ latest_blog.description }}"
    >"{{ latest_blog.title }}"</a>
    <br>
    {% set readings = get_section(path="readings" ~ "/_index.md") %}
    {% set latest_reading = readings.pages.0 %}
    Latest <b>reading</b>:
    <a href="{{ latest_reading.permalink }}"
       data-from="{{latest_reading.date}}"
       title="{{ latest_reading.description }}"
    >"{{ latest_reading.title }}"</a>
  </div>
</div>
{% endblock content %}
