html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  margin: auto;
  border: solid rgba(0, 0, 0, 0.04);
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }

  *, *::before, *::after {
    animation-duration: 0.01ms !important;
    transition-duration: 0.01ms !important;
  }
}

.content {
  max-width: 100%;
}

main {
  max-width: $max-width;
  padding: 1rem;
  margin: auto;
}

// Utility classes
.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.only-desktop-visible,
.only-phone-visible {
  display: none;
}
