{% extends "blog-post.html" %}

{% import "helpers-preview.html" as helpers_preview %}

{% block content %}
  <div class="post-title">
    <h1>
      {{ page.title }}
    </h1>
    {% if page.extra.subtitle %}
      <h3 class="post-subtitle">
        {{ page.extra.subtitle }}
      </h3>
    {% endif %}
    {{ self::page_sub_header(page=page) }}
  </div>

  <div>
    {{ page.content | safe }}
  </div>

  <hr class="footer-rule" />

  <div class="related-container">

    {% if page.earlier %}
      <div class="link">
        <span>Previous</span> <br />
        <a href="{{ page.earlier.permalink }}">{{ page.earlier.title }}</a>
      </div>
    {% endif %}

    {% if page.later %}
      <div class="link">
        <span>Next</span> <br />
        <a href="{{ page.later.permalink }}">{{ page.later.title }}</a>
      </div>
    {% endif %}

  </div>

  {% include "footer-about.html" %}

{% endblock content %}

{% macro page_sub_header(page) %}
  <small>
    {{ helpers_preview::date_and_words(post=page) }}

    <span class="found-a-typo">
      {% set url = config.extra.repo_content_url ~ page.relative_path %}
      Found a typo? <a href="{{url}}">Edit me</a>
    </span>

    {% if page.taxonomies.tags %}
      <br>
      <span class="tags">
        {% for tag in page.taxonomies.tags %}
          <a href="{{ get_taxonomy_url(kind='tags', name=tag) }}">{{ tag }}</a>
        {% endfor %}
      </span>
    {% endif %}
  </small>
{% endmacro %}
