{% extends "simple-dev-blog/templates/blog.html" %}

{% import "helpers-preview.html" as helpers_preview %}

{% block content %}
  {{ section.content | safe }}

  {% set pinned_posts = section.pages | filter(attribute="extra.pin", value=true) %}
  {% for post in pinned_posts %}
    <div class="preview post-preview highlighted">
      <h3 class="post-title">
        <a href="{{ post.permalink }}">{{ post.title }}</a>
        {{ helpers_preview::author(post=post) }}
        {% if post.description %}
          <br>
          <small style="margin-top: 0; color: #404040; font-size: 0.8em;">
            {{ post.description }}
          </small>
        {% endif %}
      </h3>
      <small>
        {{ helpers_preview::date_and_words(post=post) }}
      </small>
      <div class="summary">
        {{ helpers_preview::summary(post=post) }}
      </div>
    </div>
  {% endfor %}

  {% if pinned_posts %}
    <hr>
  {% endif %}

  {% for post in section.pages %}
    {%if post not in pinned_posts %}
        <div class="preview post-preview">
          <h3 class="post-title">
            <a href="{{ post.permalink }}">{{ post.title }}</a>
            {% if post.description %}
              <br>
              <small style="margin-top: 0; color: #404040; font-size: 0.8em;">
                {{ post.description }}
              </small>
            {% endif %}
          </h3>
          <small>
            {{ helpers_preview::date_and_words(post=post) }}
          </small>
          <div class="summary">
            {{ helpers_preview::summary(post=post) }}
          </div>
        </div>
    {% endif %}
  {% endfor %}

  <footer>
    {{ helpers_preview::footer() }}
  </footer>
{% endblock content %}
