{% extends "base.html" %}

{% import "partials/helpers-preview.html" as helpers %}

{% block title %}
  {{ trans(key="blog_title", lang=lang) }} | Chemaclass
{% endblock %}

{% block posthead %}
  {% for post in section.pages %}
    <link rel="prerender" href="{{ post.permalink }}" />
  {% endfor %}
{% endblock posthead %}

{% block content %}
  <div class="blog-index">
    <div class="blog-header">
      <h1>{{ trans(key="blog_title", lang=lang) }}</h1>
      <p class="blog-intro">{{ trans(key="blog_intro", lang=lang) }}</p>
    </div>

  {% if config.extra.start_here_posts %}
  <section class="start-here">
    <h2 class="start-here__heading"><i class="fa-solid fa-compass"></i> {{ trans(key="blog_start_here", lang=lang) }}</h2>
    <div class="start-here__grid">
      {% for path in config.extra.start_here_posts %}
        {% set post = get_page(path=path, lang=lang) %}
        <a href="{{ post.permalink }}" class="start-here__card">
          <h3>{{ post.title }}</h3>
          {% if post.extra.subtitle %}
            <p class="start-here__subtitle">{{ post.extra.subtitle }}</p>
          {% endif %}
        </a>
      {% endfor %}
    </div>
  </section>
  {% endif %}

  {% set pinned_posts = section.pages | filter(attribute="extra.pin", value=true) %}

  <div class="blog-list blog-list--featured">
    {% for post in pinned_posts %}
      {{ helpers::content_card(post=post, pinned=true, lang=lang) }}
    {% endfor %}

    {% for post in section.pages %}
      {% if post not in pinned_posts %}
        {{ helpers::content_card(post=post, lang=lang) }}
      {% endif %}
    {% endfor %}
  </div>
  </div>

  {% include "partials/footer-about.html" %}
{% endblock content %}
