.reading-post {
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  div > img:first-child {
    width: 50%;
  }

  p > img {
    width: 100%;
  }

  .book-pages {
    display: none;
  }

  .description {
    display: block;
    font-size: 0.7em;
    font-style: italic;
  }

  .author {
    color: var(--color-subtitle);
    font-size: 0.5em;
    display: block;
  }
}

.taxonomy-container {
  .reading-preview {
    margin: 8px;
    padding-left: 5px;
    width: 47%;
    height: 430px;
    word-wrap: break-word;
    overflow: hidden;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 0));
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 0));

    img {
      width: 100%;
      height: 150px;
      object-fit: cover;
      margin: 0 4px;
    }
  }
}

.reading-preview {
  border-bottom: 1px solid var(--preview-divider-color);
  display: inline-block;
  padding-bottom: 28px;
  margin-top: 6px;
  padding-left: 21px;
  cursor: pointer;

  &:hover {
    background-color: var(--search-bg-selected-item);
  }

  img {
    height: 250px;
    width: 180px;
    float: left;
    margin-right: 20px;
  }

  .reading-tags {
    display: none;

    &.reading-tags__long {
      display: inline;
      float: right;
      font-style: italic;
      list-style: none;
      margin-right: 0.6em;
      font-size: medium;
    }

    .reading-tag {
      display: inline;

      &:after {
        content: ", ";
      }

      &:last-child:after {
        content: "";
      }
    }
  }

  .reading-title {
    max-width: 200px;
    margin-bottom: 2px;
  }

  .reading-title__long {
    max-width: unset;
  }

  blockquote {
    border-left: unset;
  }
}

.book-preview {
  .book-title {
    margin-bottom: 0;
  }
}

iframe {
  width: 100%;
  height: 395px;
}

img[alt=book-index-cover] {
  max-width: 15%;
  float: left;
  margin-right: 20px;
  height: 100px;
}

img[alt=book-chapters-cover] {
  max-width: 22%;
  float: right;
  margin-left: 12px;
}

@media (max-width: $breakpoint-desktop) {
  img[alt=book-chapters-cover],
  img[alt=book-index-cover] {
    height: auto;
    max-width: 65%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    float: none;
  }
}
