<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, viewport-fit=cover"
    />

    <meta name="theme-color" content="{{ config.extra.accent }}" />

    {% if config.extra.profile_small %}
      {% set icon = resize_image(path=config.extra.profile_small, width=48, height=48, op="fill") -%}
      <link rel="icon" href="{{ icon.url }}" />
      {% for size in [48,72,96,144,192,256,384,512] -%}
        {% set icon = resize_image(path=config.extra.profile_small, width=size, height=size, op="fill") -%}
        <link rel="apple-touch-icon" sizes="{{size}}x{{size}}" href="{{ icon.url }}" />
      {% endfor %}
    {% endif %}

    {% set gtag = get_env(name="GTAG", default=false) %}
    {% if gtag %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ gtag }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ gtag }}');
      </script>
    {% endif %}

    <meta property="og:type" content="website">

    <meta name="twitter:card" content="summary">

    {% if config.twitter %}
      <meta name="twitter:creator" content="@{{ config.twitter }}">
      <meta name="twitter:site" content="@{{ config.twitter }}">
    {% endif %}

    {% if page.extra.thumbnail %}
      <meta property="og:image" content="{{ get_url(path=page.path ~ page.extra.thumbnail) }}">
    {% elif page.extra.static_thumbnail %}
      {%if page.extra.static_thumbnail is matching("^http[s]?://") %}
        <meta property="og:image" content="{{ page.extra.static_thumbnail | safe}}">
      {% else %}
        <meta property="og:image" content="{{ get_url(path=page.extra.static_thumbnail) }}">
      {% endif %}
    {% elif config.extra.default_og_image %}
        <meta property="og:image" content="{{ get_url(path=config.extra.default_og_image) }}">
    {% endif %}

    {% block description %}
      {% if page.description %}
        <meta name="description" content="{{ page.description }}" />
        <meta name="twitter:description" content="{{ page.description }}">
      {% else %}
        <meta name="description" content="{{ config.description }}" />
        <meta name="twitter:description" content="{{ config.description}}">
      {% endif %}
    {% endblock description %}

    {% if page.title %}
      <meta name="twitter:title" content="{{ page.title }}">
    {% else %}
      <meta name="twitter:title" content="{{ config.title }}">
    {% endif %}

    {% for link in config.extra.nav %}
      <link rel="prerender" href="{{ link.path }}" />
    {% endfor %}

    {% set icon = resize_image(path=config.extra.profile_small, width=50, height=50, op="fill") -%}
    <link rel="prefetch" href="{{ icon.url }}" />

    <title>
      {% block title %}
        {% if page.title %}
          {{ page.title }}
        {% else %}
          {{ config.title }}
        {% endif %}
      {% endblock title %}
    </title>

    {% block head %}
      <script src="https://kit.fontawesome.com/cfd779d106.js" crossorigin="anonymous"></script>
    {% endblock head %}
    {% block styles %}
      <link rel="stylesheet" href="{{ get_url(path='main.css') | safe }}">
      <link rel="stylesheet" href="{{ get_url(path='custom.css') | safe }}">
      <link rel="stylesheet" href="{{ get_url(path='sponsor.css') | safe }}">
      <link rel="stylesheet" href="{{ get_url(path='search.css') | safe }}">
    {% endblock styles %}
    {% block rss %}
      <link rel="alternate" type="application/atom+xml" href="{{ get_url(path='atom.xml') | safe }}" title="Atom Feed">
    {% endblock rss %}
    {% block posthead %}{% endblock posthead %}
  </head>
  <body>
    {% block header %}
      <header>
        <a class="profile-icon" href="/">
          <img src="{{ icon.url }}" alt="profile picture">
        </a>
        <nav>
          {% for link in config.extra.nav %}
            <a href="{{ link.path }}" {% if link.id %}id="{{ link.id }}"{% endif %}>{{ link.name }}</a>
          {% endfor %}
        </nav>

        <div class="search-container">
          <input type="search" id="search" autocomplete="off" placeholder="Search...">

          <div class="search-results">
            <div class="search-results__items"></div>
          </div>
        </div>

      </header>
    {% endblock header %}

    <main>
    {% block content %} {% endblock content %}
    </main>

    <footer id="footer-page">
      <a href="{{ get_url(path='atom.xml') | safe }}"><i class="fa fa-rss dark-hover" aria-hidden="true"></i> RSS</a>
      | <a href="/sponsor"><i class="fa fa-magic dark-hover" aria-hidden="true"></i> Sponsor</a>
      © <time datetime="{{now() | date(format='%Y')}}">{{now() | date(format="%Y")}}</time>
      <div class="phone-footer-about"></div>
      <span class="tooltip"
        data-tooltip-pos="top"
        data-tooltip="PGP: E51B 5BF4 5F85 D160">Chema</span>
      - Jose M. Valera Reales
    </footer>

    <script type="text/javascript" src="{{ get_url(path='js/theme.js') | safe }}"></script>
    <script type="text/javascript" src="{{ get_url(path='elasticlunr.min.js') }}" defer></script>
    <script type="text/javascript" src="{{ get_url(path='js/search.js') }}" defer></script>
  </body>
  {% block js %}
  {% endblock js %}
</html>
