{% extends "simple-dev-blog/templates/blog.html" %}

{% import "post-preview.html" as post_macros %}

{% block content %}
  {{ section.content | safe }}

  {% set pinned_posts = section.pages | filter(attribute="extra.pin", value=true) %}
  {% for post in pinned_posts %}
    {{ post_macros::pinned_post_preview(post=post) }}
  {% endfor %}

  {% if pinned_posts %}
    <hr>
  {% endif %}

  {% for post in section.pages %}
    {%if post not in pinned_posts %}
        {{ post_macros::post_preview(post=post) }}
    {% endif %}
  {% endfor %}

{% endblock content %}
