<div id="footer-about">
    <div class="phone-footer-about">
        Have you found this helpful? <br>Do you want more? Follow me <br>
        <a target="_blank" href="https://github.com/Chemaclass" title="GitHub"><i class="fa fa-brands fa-github"></i> GitHub</a>
        | <a target="_blank" href="https://twitter.com/Chemaclass" title="Twitter"><i class="fa fa-brands fa-twitter"></i> Twitter</a>
        | <a target="_blank" href="https://snort.social/p/npub1ch2gzhpxux8zc9upxvqy5mwm4x5k5hm6772682mqd5g65yz4z34qg4sxwx" title="Nostr"><i class="fa fa-cubes"></i> Nostr</a>
        <br>
        Leave a tip via <br>
        <a target="_blank" href="https://www.paypal.com/paypalme/chemaclass" title="PayPal"><i class="fa fa-brands fa-paypal"></i> PayPal</a>
        | <a target="_blank" href="https://getalby.com/p/chemaclass" title="Bitcoin Lightning Network"><i class="fa fa-bolt"></i> Lightning</a>
        | <a target="_blank" href="https://ud.me/chemaclass.wallet" title="Bitcoin and other cryptocurrencies"><i class="fa fa-btc"></i> On chain</a>
    </div>

    <div class="desktop-footer-about">
        Have you found this helpful? Do you want more?<br>
        Follow me on
        <a target="_blank" href="https://github.com/Chemaclass" title="GitHub"><i class="fa fa-brands fa-github"></i></a>
        | <a target="_blank" href="https://twitter.com/Chemaclass" title="Twitter"><i class="fa fa-brands fa-twitter"></i></a>
        | <a target="_blank" href="https://snort.social/p/npub1ch2gzhpxux8zc9upxvqy5mwm4x5k5hm6772682mqd5g65yz4z34qg4sxwx" title="Nostr"><i class="fa fa-cubes"></i></a>
        -
        Leave a tip via
        <a target="_blank" href="https://www.paypal.com/paypalme/chemaclass" title="PayPal"><i class="fa fa-brands fa-paypal"></i></a>
        | <a target="_blank" href="https://getalby.com/p/chemaclass" title="Bitcoin Lightning Network"><i class="fa fa-bolt"></i></a>
        | <a target="_blank" href="https://ud.me/chemaclass.wallet" title="Bitcoin and other cryptocurrencies"><i class="fa fa-btc"></i></a>
    </div>
</div>