<div id="footer-about">
    <div class="phone-footer-about">
        Have you found this helpful? <br>Do you want more?<br>
        Follow me on <a target="_blank" href="https://twitter.com/Chemaclass"><i class="fa fa-brands fa-twitter"></i></a>
        and <a target="_blank" href="https://github.com/Chemaclass"><i class="fa fa-brands fa-github"></i></a> <br>
        Leave a tip via <a target="_blank" href="https://www.paypal.com/paypalme/chemaclass"><i class="fa fa-brands fa-paypal"></i></a>
        or <a target="_blank" href="https://tippin.me/@Chemaclass"><i class="fa fa-bolt"></i></a>
        or <a target="_blank" href="https://ud.me/chemaclass.wallet"><i class="fa fa-btc"></i></a>
    </div>

    <div class="desktop-footer-about">
        Have you found this helpful? Do you want more?<br>
        Follow me on <a target="_blank" href="https://twitter.com/Chemaclass" title="Twitter"><i class="fa fa-brands fa-twitter"></i></a>
        and <a target="_blank" href="https://github.com/Chemaclass" title="GitHub"><i class="fa fa-brands fa-github"></i></a> -
        Leave a tip via <a target="_blank" href="https://www.paypal.com/paypalme/chemaclass" title="PayPal"><i class="fa fa-brands fa-paypal"></i></a>
        or <a target="_blank" href="https://tippin.me/@Chemaclass" title="Bitcoin Lightning Network"><i class="fa fa-bolt"></i></a>
        or <a target="_blank" href="https://ud.me/chemaclass.wallet" title="Bitcoin and other cryptocurrencies"><i class="fa fa-btc"></i></a>
    </div>
</div>