<hr/>

<div id="footer-about">
    <div class="phone-footer-about">
        Have you found this helpful? <br>Do you want more? Follow me <br>
        <a target="_blank" href="https://x.com/Chemaclass" title="Twitter"><i class="fa-brands fa-x-twitter"></i> Twitter</a>
        | <a target="_blank" href="https://snort.social/p/npub1ch2gzhpxux8zc9upxvqy5mwm4x5k5hm6772682mqd5g65yz4z34qg4sxwx" title="Nostr"><i class="fa-solid fa-qrcode"></i> Nostr</a>
        <br>
        <hr>
        Leave a tip<br>
        <a target="_blank" href="https://www.paypal.com/paypalme/chemaclass" title="PayPal"><i class="fa fa-paypal"></i> PayPal</a>
        | <a target="_blank" href="https://getalby.com/p/chemaclass" title="Bitcoin Lightning Network"><i class="fa-solid fa-bitcoin-sign"></i> Lightning</a>
    </div>

    <div class="desktop-footer-about">
        Have you found this helpful? <b>Do you want more?</b><br>
        <i>Follow me on</i>
        <a target="_blank" href="https://x.com/Chemaclass" title="Twitter"><i class="fa-brands fa-x-twitter"></i></a>
        | <a target="_blank" href="https://snort.social/p/npub1ch2gzhpxux8zc9upxvqy5mwm4x5k5hm6772682mqd5g65yz4z34qg4sxwx" title="Nostr"><i class="fa-solid fa-qrcode"></i></a> &#183;
        <i>Leave a tip</i>
        <a target="_blank" href="https://www.paypal.com/paypalme/chemaclass" title="PayPal"><i class="fa fa-paypal"></i></a>
        | <a target="_blank" href="https://getalby.com/p/chemaclass" title="Bitcoin Lightning Network"><i class="fa-solid fa-bitcoin-sign"></i></a>
    </div>
</div>
